<!DOCTYPE html >
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta id="viewport" name="viewport" content="width=device-width  minimum-scale=1.0 maximum-scale=1.0 initial-scale=1.0">
  <base href="/">
  <link rel="shortcut icon" href="images/title.ico" />
  <title data-ng-bind="$state.current.data.title"></title>

  <link rel="stylesheet" media="screen" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" media="screen" href="stylesheets/style.css">
</head>

<body>
<div ui-view="root" ng-controller="rootCtrl" class="admin-root"></div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="javascripts/three.min.js"></script>
<script type="text/javascript" src="javascripts/Projector.js"></script>
<script type="text/javascript" src="javascripts/SoftwareRenderer.js"></script>
<script type="text/javascript" src="javascripts/stats.min.js"></script>
<script type="text/javascript" src="javascripts/ramda.min.js"></script>
<script type="text/javascript" src="javascripts/app.min.js"></script>

</body>
</html>
